<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="35" android:compileSdkVersionCodename="15" package="me.phh.treble.overlay.samsung.e1s" platformBuildVersionCode="35" platformBuildVersionName="15">
    <application android:extractNativeLibs="false" android:usesNonSdkApi="true"/>
    <overlay android:isStatic="true" android:priority="890" android:requiredSystemPropertyName="ro.vendor.build.fingerprint" android:requiredSystemPropertyValue="+*samsung/e1s*" android:targetPackage="android"/>
</manifest>
